.container.py-3
  .row.text-center
    .col-12 
      .box_menus__logo.mt-5.mb-5
            p 🔥
            p 🍔
            p 🍺
            p 🍖
            p 🛒
            p 💳
    .col-12
      main.form-signin
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          h1.h3.mb-5.fw-normal Faça seu Cadastro
          .form-floating
            = f.input_field :email, class: 'form-control', required: true, label: 'Endereço de E-email'
            label for="floatingInput"  Endereço de E-email
          .form-floating
            = f.input_field :password, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: 'form-control', required: true, label: 'Endereço de E-email'
            label for="floatingInput"  Senha
          .form-floating
            = f.input_field :password_confirmation, class: 'form-control', required: true, label: 'Endereço de E-email'
            br
            label for="floatingInput"  Confirmação da senha
          = f.submit "Entrar", id: "signIn", class: "w-100 btn btn-lg btn-dark"
          small.box_users__new_or_restore
            span Já tem uma conta?
            = link_to new_user_session_path do
              i.fa.fa-thumbs-up style="margin-left: .3rem; color:black;" aria-hidden="true"
        / = render "devise/shared/links"