meta content="website" property="og:type" 
meta content="pt_BR" property="og:locale" 
meta content=("@seuburger.rj") property="og:title" 
meta name="description" content="Melhor Delivery online da Região"
meta content=("Melhor Delivery online da Região") property="og:description" 
meta content="/favicon.png" property="og:image" 
meta name="author" content="Wendel Paco"
meta name="generator" content="Paco 1.0.0"