.container.py-3
  .row.text-center
    .col-12 
      .menu_logo__login.mt-5.mb-5
            p 🔥
            p 🍔
            p 🍺
            p 🍖
            p 🛒
            p 💳
    .col-12
      main.form-signin
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = f.error_notification
          h1.h3.mb-5.fw-normal Esqueceu sua senha?
          .form-floating
            = f.input_field :email, class: 'form-control', required: true, label: 'Endereço de E-email'
            label for="floatingInput"  Endereço de E-email
            br
          = f.submit "Enviar", id: "signIn", class: "w-100 btn btn-lg btn-dark"
      / = render "devise/shared/links"