@import "login"
  
.col-lg-4
  &:hover
    display: block
    border: 1px solid currentColor
    border-radius: 4px

.col-md-5
  img
    border-radius: 1rem

@media screen and (max-width: 600px) 
  .box_menus__logo
    font-size: 3rem !important 


.box_menus__logo
  display: flex
  justify-content: center
  font-size: 80px

.nav-item
  &:hover
    background-color: #198754
    border-radius: 2rem