.col-lg-4
  &:hover
    display: block
    border: 1px solid currentColor
    border-radius: 4px

.col-md-5
  img
    border-radius: 1rem

.menu_logo__login
  display: flex
  justify-content: center
  font-size: 80px

.nav-item
  &:hover
    background-color: #198754
    border-radius: 2rem